* {
    padding: 0;
    margin: 0;
}
.div1 {
    font-family: sans-serif;
    background-color: white;
}
.div2 {
    max-width: 36rem;
    margin-left: auto;
    margin-right: auto;
}
.div3 {
    display: block;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 1.5rem;
}
.div4 {
    padding: 1.5rem;
    max-width: 58rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.div5 {
    text-align: center;

}
.h2-1 {
    font-size: 1.875rem;
    font-weight: 800;
    color: #333;
    display: inline-block;
    border-bottom-width: 0.25rem;
    border-bottom-style: solid;
    border-bottom-color: #333;
    padding-bottom: 0.25rem;
}
.form1 {
    margin-top: 3rem;
}
.h2-2 {
    font-size: 1.5rem;
    font-weight: 800;
    color: #333;
}
.div6 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.5rem; 
    margin-top: 2rem; 
}
.input1 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
    background-color: #fff;
    color: #333;
    width: 100%;
    font-size: 0.875rem;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: #333; 
    outline: none; 
}
.inpu1:focus {
    border-color: #333;
}
.textarea {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
    background-color: #fff;
    color: #333;
    width: 100%;
    font-size: 0.875rem;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: #333;
    outline: none;
    margin-top: 2rem;
}
.textarea:focus {
    border-color: #333;
}
.div7 {
    margin-top: 30px;
}
.h2-3 {
    font-size: 1.5rem; 
    font-weight: 800;
    color: #333; 
}
.div8 {
    display: grid;
    gap: 1rem;
    margin-top: 2rem;
}
.div9 {
    display: flex; 
    align-items: center;
}
.input2 {
    width: 1.25rem; 
    height: 1.25rem; 
    cursor: pointer;
}
.label1 {
    margin-left: 1rem; 
    display: flex;
    gap: 0.5rem; 
    cursor: pointer;
}
.img1 {
    width: 20px
}
.img2 {
    width: 30px;
}
.div10 {
    display: grid;
    gap: 1.5rem;
    margin-top: 2rem;
}
.input3 {
    padding: 0.875rem 0.5rem;
    background-color: #fff; 
    color: #333; 
    width: 100%; 
    font-size: 0.875rem;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: #333;
    outline: none;
}
.input3:focus {
    border-color: #333;
}
.div11 {
    display: flex;
    background-color: #fff;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    overflow: hidden;
}
.svg1 {
    width: 3rem;
    margin-left: 0.75rem;
}
.input4 {
    padding: 0.875rem 0.5rem;
    background-color: #fff;
    color: #333;
    width: 100%;
    font-size: 0.875rem;
    outline: none;
}
.div12 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); 
    gap: 1.5rem;
}
.input5 {
    padding: 0.875rem 0.5rem;
    background-color: #fff;
    color: #333;
    width: 100%; 
    font-size: 0.875rem;
    border-bottom-width: 0.125rem; 
    border-bottom-style: solid;
    border-bottom-color: transparent;
    outline: none;
}
.input5:focus{
    border-color: #333;
}
.div13 {
    display: flex;
    align-items: center;
}
.input6 {
    height: 1rem;
    width: 1rem;
    flex-shrink: 0;
    color: #3b82f6;
    outline: none;
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
}
.input:focus {
    border-color: #2563eb;
}
.label2 {
    margin-left: 0.75rem;
    display: block;
    font-size: 0.875rem;
}
.a1 {
    color: #3b82f6;
    font-weight: 600; 
    text-decoration: none;
    margin-left: 0.25rem;
}
.a1:hover {
    text-decoration: underline;
}
.div14 {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}
.button1 {
    min-width: 150px;
    padding: 0.875rem 1.5rem;
    font-size: 0.875rem;
    background-color: #f3f4f6;
    color: #333;
    border-radius: 0.375rem;
    transition: background-color 0.3s;
}
.button1:hover {
    background-color: #edf2f7;
}
.button2 {
    min-width: 150px;
    padding: 0.875rem 1.5rem;
    font-size: 0.875rem;
    background-color: #333;
    color: #fff;
    border-radius: 0.375rem;
    transition: background-color 0.3s;
}
.button2:hover {
    background-color: #111;
}
.div15 {
    background-color: #f3f4f6;
    height: 100vh;
    position: sticky; 
    top: 0;
}
.div16 {
    position: relative;
}
.div17 {
    padding: 2rem;
    overflow: auto;
    height: calc(100vh - 60px);
     margin-bottom: 1rem;
}
.h2-4 {
    font-size: 1.5rem;
    font-weight: 800;
    color: #333;
}
.div18 {
    margin-top: 2.5rem;
}
.div19 {
    display: grid;
}
.div20 {
    display: flex;
    justify-content: center;
}
.div21 {
    max-width: 12.5rem;
    padding: 1.5rem 1rem;
    flex-shrink: 0;
    border-radius: 0.375rem;
}
.img3 {
    width: 100%;
    object-fit: contain;
}
.h3-1 {
    font-size: 1rem;
    color: #333;
    font-weight: bold;
}
.ul-1 {
    font-size: 0.75rem; 
    color: #333; 
    margin-top: 0.5rem;
}
.li-1 { 
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
    font-weight: 600;
}
.span1 { 
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}
.label3 {
    cursor: pointer;
}
.peer {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
.span2 {
    margin-left: auto;
}
.span3 {
    margin-left: auto; 
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}
.name1 {
    cursor: pointer;
    border-radius: 0.375rem;
    border: 1px solid #000;
    padding: 0.25rem 0.5rem; 
    font-weight: bold;
}
.span4 {
    margin-left: auto;
}
.div22 {
    display: flex; 
    justify-content: flex-end; 
    margin-top: 1rem;
    margin-bottom: 1rem; 
    gap: 0.5rem;
}
.update {
    font-size: 0.75rem;
    font-weight: bold;
    background-color: #3b82f6;
    color: #fff; 
    padding: 0.25rem 0.75rem;
    border-radius: 0.375rem; 
    cursor: pointer;
}
.update:disabled {
    background-color: #cbd5e0;
}
.delete {
    font-size: 0.75rem; 
    font-weight: bold; 
    background-color: #ef4444; 
    color: #fff; 
    padding: 0.25rem 0.75rem; 
    border-radius: 0.375rem;
}
.div23 {
    position: absolute; 
    left: 0; 
    bottom: -2.5rem; 
    background-color: #e5e7eb; 
    width: 100%; 
    padding: 1rem;
}
.h4-1 {
    display: flex; 
    flex-wrap: wrap; 
    gap: 1rem; 
    font-size: 1rem; 
    color: #333; 
    font-weight: bold;
}
.span5 {
    margin-left: auto;
}
.hr1 {
    margin-top: 0.5rem; 
    margin-bottom: 0.5rem; 
    background-color: #000; 
    height: 2px;
}