* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
  }

  /* Container Styles */
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 80px;
  }

  /* Image Styles */
  .thumbnail {
    cursor: pointer;
    width: 50px;
    margin-right: 10px;
    border: none;
    flex: 0%;
    overflow: hidden;
  }
  .thumbnail:hover {
    border: solid 1px;
    border-color: gray;
  }
  .div1 {
    margin-left: 135px;
  }

  .thumbnail img {
    width: 100%;
    height: auto;
    display: block;
  }

  .bigimage {
    max-width: 400px;
    height: 400px;
    margin-left: 100px;
  }

  /* Form Styles */
  form {
    margin-top: 20px;
  }

  .colorclass{
    display: none;
    cursor: pointer;
  }
  .sizeclass {
    display: none;
    cursor: pointer;
  }

  /* Product Info Styles */
  .product-info {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
    display: flex;
  }

  .product-info-left {
    flex: 1;
  }

  .product-info-right {
    flex: 1;
    margin-left: 20px;
  }

  .product-info h1 {
    font-size: 26px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }

  .product-info .price {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    margin-top: 35px;
  }

  .size-chart h2, .color-chart h2 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .size-chart label{
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .color-chart label{
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 40%;
  }

  .product-info .size-chart .sizeclass:checked + label,
  .product-info .color-chart .colorclass:checked + label {
    background-color: #333;
    color: #fff;
  }

  .product-info ul {
    margin-top: 20px;
    list-style-type: none;
  }

  .product-info ul li {
    font-size: 14px;
    margin-bottom: 5px;
  }

  /* Description Styles */
  .description {
    margin-top: 10px;
    text-align: center;
  }

  .description h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }

  .description p {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }

  /* Reduced Color Chart Image Sizes */
  .color-chart label img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .button1 {
    width: 170px;
    height: 50px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  .button1:hover {
    color: black;
    background-color: white;
  }
  .button1:active {
    opacity: 0.7;
  }